@import './reset.less';

@bg-color: rgb(238, 246, 251);
@border-radius: 16px;
@color: rgb(51, 51, 57);
@link-color: @color;
@link-active: rgb(95, 176, 232);

@screen-xs-min: 480px;

@phone: ~'only screen and (max-width: @{screen-xs-min})';

.flex_center(@direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: @direction;
}

body {
  background-color: @bg-color;
  font-family: 'Montserrat', sans-serif;
  color: @color;
  line-height: 1;
}

a {
  color: @link-color;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
}

.cities {
  nav {
    display: flex;
    justify-content: center;
    a {
      display: inline-block;
      padding: 36px 30px;
      font-size: 26px;
      font-weight: 100;

      @media @phone {
        font-size: 16px;
        padding: 26px 16px;
        font-weight: 400;
      }

      &.active {
        font-weight: 700;
      }
      &:hover,
      &.active {
        color: @link-active;
      }
    }
  }
}

main {
  margin: 2px;
  border-radius: 8px;
  outline: 4px solid white;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.2);

  @media @phone {
    box-shadow: none;
  }

  .headline {
    .flex_center();
    font-size: 26px;
    font-weight: 200;
    padding-bottom: 72px;
    border-bottom: 4px solid white;

    .date {
      padding-top: 36px;
    }

    .weather {
      display: flex;
      padding-top: 28px;

      &-icon,
      &-value {
        padding: 0 20px;
      }

      &-temperature {
        font-family: 'Teko', sans-serif;
        font-size: 76px;
        line-height: 1;
      }
      &-description {
        line-height: 0.4;

        @media @phone {
          line-height: 1;
          font-size: 20px;
        }
      }
    }
  }

  .forecast {
    .flex_center();
    flex-direction: row;
    .days {
      .flex_center();
      border: 2px solid white;
      border-top: 0;
      border-bottom: 0;
      padding: 22px 0;
      flex: 1;
      max-height: 180px;

      @media @phone {
        padding: 8px 0;
      }

      .date {
        font-size: 20px;
        font-weight: 100;
      }

      .weather-icon {
        padding: 22px 0;

        @media @phone {
          padding: 8px 0;
        }
      }

      .weather-value {
        font-family: 'Teko', sans-serif;
        font-size: 28px;
      }

      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
}
